

     <hr>
     <div class="container">
     <div class="row">
      <br>
       <div class="col-md-9">
     <h2> Shipping Info</h2>

     <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td>
            Buyer
          </td>
        </tr>
        <tr>
          <td>
            <%= @order.billing_name %> - <%= @order.billing_address %>
          </td>
        </tr>
        <tr>
          <td>
            Addressee
          </td>
        </tr>
        <tr>
          <td>
            <%= @order.shipping_name %> - <%= @order.shipping_address %>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="pull-left">
      <% if @order.order_placed? || @order.paid? %>
        <%= link_to("Cancel Order", apply_to_cancel_order_path(@order), method: :post, class: "btn  btn-checkout") %>
      <% end %>
    </div>

    <% if !@order.is_paid? %>
      <div class="group pull-right">
        <%= link_to("Alipay", pay_with_alipay_order_path(@order.token), :method => :post, :class => "btn btn-checkout") %>
        <%= link_to("Wechatpay", pay_with_wechat_order_path(@order.token), :method => :post, :class => "btn btn-checkout") %>
      </div>
    <% else %>
      <p class="text-center">This order has been paid</p>
    <% end %>



  </div>


<!--地址填写review order页面-->
<div class="container">
<div class="row">
 <br>
  <div class="col-md-3">

          <!--REVIEW ORDER-->
          <div class="panel panel-default panel-default">
              <div class="panel-heading text-center">
                  <h4>Order Summary</h4>
              </div>
              <div class="panel-body1">
                      <div class="col-md-12">
                          <strong>Subtotal </strong>
                          <div class="pull-right"><span>$</span>
                            <span><%= render_cart_total_price(current_cart) %></span>
                          </div>
                      </div>

                      <div class="col-md-12">
                          <small>Shipping</small>
                          <div class="pull-right"><span>0</span></div>
                          <hr>
                      </div>
                      <div class="col-md-12">
                          <strong>Total</strong>
                          <div class="pull-right"><span>$</span>
                            <span><%= render_cart_total_price(current_cart) %></span>
                          </div>
                          <hr>
                      </div>
                      <div class="checkout clearfix">
                      </div>

              </div>

          </div>
          <!--REVIEW ORDER END-->
      </div>
      <div class="col-md-8 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
      </div>
    </div>
</div>
