

<div class="panel-heading text-center">
    <h4>Please enter your shipping address</h4>
</div>

<div class="container">
<div class="row">
  <div class="col-md-9">

    <div class="order-form">
      <%= simple_form_for @order do |f| %>

        <legend>Ordering</legend>
        <div class="form-group col-lg-6">
          <%= f.input :billing_name %>
        </div>
        <div class="form-group col-lg-6">
          <%= f.input :billing_address %>
        </div>

        <legend>Shipping</legend>
        <div class="form-group col-lg-6">
          <%= f.input :shipping_name %>
        </div>
        <div class="form-group col-lg-6">
          <%= f.input :shipping_address %>
        </div>

        <div class="checkout">
          <%= f.submit "Next→", class: "btn btn-lg btn-zdy pull-right", data: {disable_with: "Submitting..."} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
</div>

<!--购物车review order页面-->
<div class="container">
<div class="row">

  <div class="col-md-3">

          <!--REVIEW ORDER-->
          <div class="panel panel-default panel-default">
              <div class="panel-heading text-center">
                  <h4>Order Summary</h4>
              </div>
              <div class="panel-body1">
                      <div class="col-md-12">
                          <strong>Subtotal </strong>
                          <div class="pull-right"><span>$</span>
                            <span><%= render_cart_total_price(current_cart) %></span>
                          </div>
                      </div>

                      <div class="col-md-12">
                          <small>Shipping</small>
                          <div class="pull-right"><span>0</span></div>
                          <hr>
                      </div>
                      <div class="col-md-12">
                          <strong>Total</strong>
                          <div class="pull-right"><span>$</span>
                            <span><%= render_cart_total_price(current_cart) %></span>
                          </div>
                          <hr>
                      </div>
                      <div class="checkout clearfix">
                      </div>

              </div>

          </div>
          <!--REVIEW ORDER END-->
      </div>
      <div class="col-md-8 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
      </div>
    </div>
</div>
