<body  style="text-align:center">
<h2 style="display:inline;">Sign in</h2>
</body>
<br><br><br><br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-group1">


  	<%= f.label :email %>
  	<%= f.email_field :email, autofocus: true, required: false %>


  </div>

  <div class="form-group1">
  	<%= f.label :password %>
  	<%= f.password_field :password, required: false %>
  </div>

  <div class="checkbox">
  	<label>
  	<%= f.check_box :remember_me, required: false, as: :boolean if devise_mapping.rememberable? %> Remember Me
		</label>
  </div>

<br><br><br><br>
  	<%= f.submit "Sign In", class: "btn btn-zdy" %>


<% end %>

<%= render "devise/shared/links" %>
