<div class="container">
	<div class="row">
	<div class="col-md-9">

<h3 class="heading">New Product<span></h3>

<%= simple_form_for [:admin, @product] do |f| %>
  <div class="group col-md-4">
    <%= f.input :title %>
  </div>



  <div class="group col-md-4">
    <%= f.input :quantity %>
  </div>

  <div class="group col-md-4">
    <%= f.input :price %>
  </div>

	<div class="group col-md-12">
		<%= f.input :description %>
	</div>

<div class="group col-md-12">
  <% if @product.image.present? %>
    <span>当前商品图</span><br>
		<% @product.photos.each do |p| %>
			<%= image_tag p.avatar.thumb.url %>
		<% end %>
	<% end %>

</div>

<div class="group col-md-12">
  <div class="group">
    <%= f.label '上传商品图片(可传多张)' %><br>
    <%= f.file_field :avatar, :multiple => true, name: "photos[avatar][]" %>
  </div>
</div>
<div class="group col-md-12">
  <div class="group">
    <%= f.input :category, :as => :radio_buttons, :collection => Product::CATEGORY, :item_wrapper_class => 'inline' %>
  </div>
</div>
<%= f.submit "Submit", data: { disable_with: "Submitting..." }, class:"btn btn-checkout" %>

<% end %>

<!--描述框autosize-->
<script type="text/javascript">
autosize($('#product_description'));

</script>
