
<div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">

         <div class="clearfix"></div>
         <br><br><br><br>
         <h2 class="section-heading1 text-left">Amaze Soho Studio</h2>
         <h4 class="section-text">
           Come shop our new showroom in our New York studio.<br><br>
           We’ll have our latest collections, plus stylists on hand to help you find your perfect look and fit.
           <br><br>
           You’ll be able to try on and purchase on-site with complimentary two-day shipping. <br><br>
            You’re also welcome to come in and return or exchange items from any online orders you have,
            as we’ll process it right away for you.
         </h4>


       </div>
       <div class="col-lg-5  col-sm-6">
         <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-b">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">

         <div class="clearfix"></div>

         <h2 class="section-heading2">Product</h2>

       </div>

     </div>



    <% @products.each do |product| %>
    <div class="col-md-4">

      <%= link_to product_path(product) do %>


        <% if product.photos.present? %>
          <%= image_tag(product.photos[0].avatar.thumb.url, class: "thumbnail1") %>

        <% else %>
          <%= image_tag("http://placehold.it/500x500&text=No Pic", class: "thumbnail1") %>
        <% end %>
      <% end %>

      <div class="product-details">
          <a href="#" class="clearfix product__link">
              <h4 class="product__name">
                <%= product.title %>
              </h4>
          </a>
            <span class="product__price">
              $<%= product.price %>
            </span>

              <h4 class="product__label">  </h4>
                  <span class="product__color">
                    Color
                  </span>

              <div class="product__additional-colors">
                  <a href="#" class="product__link"> </a>
              </div>
      </div>
    </div>
  <% end %>
</div>
</div>
<!--  -->
