
<div class="row">




  <!-- 商品图片 -->
  <div class="col-md-6">

    <% if @photos.present? %>
      <!-- 显示商品第一张图片 -->
      <div class='big-photo' style="margin-bottom: 1px;padding: 20px;">
        <%= image_tag(@photos.first.avatar.url) %>
      </div>

      <!-- 显示商品所有图片 小图 -->
      <% @photos.each_with_index do |p| %>
        <div class="list-photo" style="float: left ;  height: 230px;">
          <%= image_tag p.avatar.url, class: "thumbnail5" %>
        </div>
      <% end %>


    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail2") %>
    <% end %>

  </div>

  <!-- 商品信息 -->
  <div class="productshow col-md-6 ">
    <h2><%= @product.title %></h2>
    <h5>DESCRIPTION:</h5>
    <div style="height:100px;">
      <p><%= @product.description %></p>
    </div>
    <br /><br />
    <div>
      stock : <%= @product.quantity %>
    </div>

    <div class="product-price">
    <h3> $<%= @product.price %>  </h3>
    </div>
    <div class="pull-right">
      <% if @product.quantity.present? && @product.quantity > 0 %>
        <%= link_to("+Add", add_to_cart_product_path(@product), :method => :post, :class => "btn  btn-lg btn-checkout") %>
      <% else %>
        Sorry, Sold out now
      <% end %>
    </div>
  </div>


</div>
